body {
  background: black;
  color: #7f0000;
  font-family: Lucida Console, Courier New;
  line-height: 1;
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

h1 {
  color: #bf0000;
}

@keyframes fade {
  0% {opacity: 1;}
  10% {opacity: 0.8;}
  20% {opacity: 0.6;}
  30% {opacity: 0.4;}
  40% {opacity: 0.2;}
  50% {opacity: 0.;}
  60% {opacity: 0.2;}
  70% {opacity: 0.4;}
  80% {opacity: 0.6;}
  90% {opacity: 0.8;}
}
